.github/
.vscode/
.zed/
.idea/
.ruff_cache/
**/__pycache__
**.egg-info

docs/_build/
docs/_autosummary/
artifacts/
configs/dev/
dev.py

machine_specific_paths.toml
nice_project.toml

**/builds/
**/build/
**/output/
**/assets/
**/envs/
**/env/
**/venv/
**/*.pth
**/*.bib
**/*.aux
**/*.fls
**/*.log
**/*.fdb_latexmk
**/*.synctex.gz
**/*.tar
**/*.dat
**/*.cpk
**/*.ckpt
**/*.nemo
**/*.avi
nicetoolbox/**/*.mp4

.coverage
TEST*.xml

nul