[submodule "submodules/mmpose"]
	path = submodules/mmpose
	url = https://github.com/OSLabTools/mmpose
[submodule "submodules/multiview_eth_xgaze"]
	path = submodules/multiview_eth_xgaze
	url = https://github.com/OSLabTools/multiview_ETH_XGaze
[submodule "submodules/SPIGA"]
	path = submodules/SPIGA
	url = https://github.com/OSLabTools/SPIGA
[submodule "submodules/sam-3d-body"]
	path = submodules/sam-3d-body
	url = https://github.com/OSLabTools/sam-3d-body
