appdirs 
appnope 
black 
chump 
cython 
dill 
einops 
ffmpeg 
fvcore 
huggingface_hub
hydra-colorlog 
hydra-core 
hydra-submitit-launcher 
joblib 
jsonlines 
loguru 
networkx==3.2.1 
numpy>=1.22,<2 
opencv-python
optree 
pandas 
pycocotools 
pyrender
pyrootutils 
pytest 
pytorch-lightning
rich 
roma 
scikit-image 
seaborn 
tensorboard 
timm 
wandb 
webdataset 
xtcocotools 
yacs
